body{
	--aqua-light:				#05FFA3;
	--aqua-dark:				#2096FF;
	--aqua-gradient:			linear-gradient(40deg, var(--aqua-light), var(--aqua-dark));
	--aqua-gradient-inverted:	linear-gradient(40deg, var(--aqua-dark), var(--aqua-light));
}

/*CLASSES*/
.aaas_navbar{
	background: 				var(--aqua-gradient-inverted);
	color:						black;
}

.aaas_tab_container{

}

.aaas_tab{
	border-color:				var(--aqua-dark);
	background:					none;
	color:						var(--aqua-dark);
}

.aaas_tab:hover{
	background:					var(--aqua-dark);
	color:						white;
}

/*UI ELEMENTS*/
button{
	background:					var(--aqua-gradient-inverted);
	color:						black;
}

input{
	border-color:				var(--aqua-dark);
}