body{

}

/*CLASSES*/
.aaas_navbar{
	padding:					8px 0px;
}

.aaas_navbar > span{
	font-size:					1.5em;
}

.aaas_tab_container{
	margin:						.5em;
}

.aaas_tab{
	display:	 				inline-block;
	padding:					8px 12px;
	border-width:				2px;
	border-style:				solid;
	border-radius:				4px;
}

.aaas_tab:hover{
	cursor:						pointer;
}

.aaas_datatable tr:nth-child(even){
	background:					lightblue;		
}

.aaas_datatable{
	width:						100%;
}

.aaas_datatable_container{
	border-radius: 				4px;
	border-style:				solid;
	border-width: 				1px;
	border-color:				lightgray;
}

.aaas_datatable td, .aaas_datatable th {
	padding:					5px;
}

.aaas_tablecell_active{
	color:						green;
	background-color: 			#6dffa0;
	text-align:					center;
}

.aaas_tablecell_inactive{
	color:						red;
	background-color: 			#ff6d6d;
	text-align:					center;
}

/*UI ELEMENTS*/
button{
	border-style: 				none;
	border-radius:				100px;
	padding:					8px 12px;
}

input{
	border-style:				none none solid none;
	border-width:				2px;
}