body{
	--peach-dark:				#FC6262;
	--peach-light:				#FFD86F;
	--peach-gradient:			linear-gradient(40deg, var(--peach-light), var(--peach-dark));
	--peach-gradient-inverted:	linear-gradient(40deg, var(--peach-dark), var(--peach-light));
}

/*CLASSES*/
.aaas_navbar{
	background: 				var(--peach-gradient-inverted);
	color:						white;
}

.aaas_tab_container{

}

.aaas_tab{
	border-color:				var(--peach-dark);
	background:					none;
	color:						var(--peach-dark);
}

.aaas_tab:hover{
	background:					var(--peach-dark);
	color:						white;
}

/*UI ELEMENTS*/
button{
	background:					var(--peach-gradient-inverted);
	color:						white;
}

input{
	border-color:				var(--peach-dark);
}