body{
	--purple-dark:				#7873F5;
	--purple-light:				#FF6EC4;
	--purple-gradient:			linear-gradient(40deg, var(--purple-light), var(--purple-dark));
	--purple-gradient-inverted:	linear-gradient(40deg, var(--purple-dark), var(--purple-light));
}

/*CLASSES*/
.aaas_navbar{
	background: 				var(--purple-gradient-inverted);
	color:						white;
}

.aaas_tab_container{

}

.aaas_tab{
	border-color:				var(--purple-dark);
	background:					none;
	color:						var(--purple-dark);
}

.aaas_tab:hover{
	background:					var(--purple-dark);
	color:						white;
}

/*UI ELEMENTS*/
button{
	background:					var(--purple-gradient-inverted);
	color:						white;
}

input{
	border-color:				var(--purple-dark);
}