body{
	--peach-dark:				#FC6262;
	--peach-light:				#FFD86F;
	--peach-gradient:			linear-gradient(40deg, var(--peach-light), var(--peach-dark));
	--peach-gradient-inverted:	linear-gradient(40deg, var(--peach-dark), var(--peach-light));
	
	--purple-dark:				#7873F5;
	--purple-light:				#FF6EC4;
	--purple-gradient:			linear-gradient(40deg, var(--purple-light), var(--purple-dark));
	--purple-gradient-inverted:	linear-gradient(40deg, var(--purple-dark), var(--purple-light));
	
	--aqua-light:				#05FFA3;
	--aqua-dark:				#2096FF;
	--aqua-gradient:			linear-gradient(40deg, var(--aqua-light), var(--aqua-dark));
	--aqua-gradient-inverted:	linear-gradient(40deg, var(--aqua-dark), var(--aqua-light));
	
	--blue-light:				#45CAFC;
	--blue-dark:				#303F9F;
	--blue-gradient:			linear-gradient(40deg, var(--blue-light), var(--blue-dark));
	--blue-gradient-inverted:	linear-gradient(40deg, var(--blue-dark), var(--blue-light));
	
	--green-light:				#B9F6CA;
	--green-dark:				#00C853;
	--green-gradient:			linear-gradient(40deg, var(--green-light), var(--green-dark));
	--green-gradient-inverted:	linear-gradient(40deg, var(--green-dark), var(--green-light));
	
	--red-light:				#FF8A80;
	--red-dark:					#D50000;
	--red-gradient:				linear-gradient(40deg, var(--red-light), var(--red-dark));
	--red-gradient-inverted:	linear-gradient(40deg, var(--red-dark), var(--red-light));
}

/*CLASSES*/
.aaas_navbar{
	background: 				var(--peach-gradient-inverted);
	color:						white;
	padding:					8px 0px;
}

/*UI ELEMENTS*/
button{
	background:					var(--peach-gradient-inverted);
	color:						white;
	border-style: 				none;
	border-radius:				100px;
	padding:					8px 12px;
}

input{
	border-style:				none none solid none;
	border-width:				2px;
	border-color:				var(--peach-dark);
}